# config.redirectRemoteFiles
MK_CONFIG_REDIRECTREMOTEFILES=true

# config.remoteCFConvert
MK_CONFIG_REMOTECFCONVERT=true

# config.remoteCFConvertZone
MK_CONFIG_REMOTECFCONVERTZONE=ljzd.link

# config.useOVIStorage
MK_CONFIG_USEOVISTORAGE=true

# config.oviStorageHost
MK_CONFIG_OVISTORAGEHOST=drive.ljzd.link

# config.oviStoragePath
MK_CONFIG_OVISTORAGEPATH=/Images

# config.oviStorageODPT
MK_CONFIG_OVISTORAGEODPT=
