# misskey settings
# MISSKEY_URL=https://example.tld/

# db settings
POSTGRES_PASSWORD=example-misskey-pass
# DATABASE_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_USER=example-misskey-user
# DATABASE_USER=${POSTGRES_USER}
POSTGRES_DB=misskey
# DATABASE_DB=${POSTGRES_DB}
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"

# config.redirectRemoteFiles
MK_CONFIG_REDIRECTREMOTEFILES=true

# config.remoteCFConvert
MK_CONFIG_REMOTECFCONVERT=true

# config.remoteCFConvertZone
MK_CONFIG_REMOTECFCONVERTZONE=ljzd.link

# config.useOVIStorage
MK_CONFIG_USEOVISTORAGE=true

# config.oviStorageHost
MK_CONFIG_OVISTORAGEHOST=drive.ljzd.link

# config.oviStoragePath
MK_CONFIG_OVISTORAGEPATH=/Images/Sharkey

# config.oviStorageODPT
MK_CONFIG_OVISTORAGEODPT=
